<div class="row">
    <ul class="list-group">	
        <li class="collect-list-header list-group-item">
            <p class="text-center" style="border-bottom: 1px dotted powderblue;">
               <span class="glyphicon glyphicon-plus">집계생성바로가기</span> 
            </p>
            <div class="row">
                <div class="col-xs-3">
                    <a href="{% url 'collect:create' 'LABEL' %}">라벨</a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'collect:create' 'INJ' %}">주사</a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'collect:create' 'NUT' %}">영양수액</a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'collect:create-batch' %}">일괄</a>
                </div>
            </div>
        </li>
    {% for object in object_list %}
        {% if forloop.first %}
            <div class="text-center row">
                <h5> - 집계내역 -</h5>
            </div>
        {% endif %}
        <li class="collect-list list-group-item {% if object.since == 'today' %}today-item {% elif object.since == 'yesterday' %}yesterday-item {% else %}since-item{% endif %}" url="{% url 'collect:detail' object.slug %}" onclick="location.href='{% url 'collect:detail' object.slug %}'">
            {{ object.title }}
        </li>
    {% endfor %}
    </ul>
</div>
<div class="row" align="right">
    <div class="col-xs-12">
        {% url 'collect:clear' as clear_url %}
        {% include "includes/delete_confirm.html" with url=clear_url id='collect-clear' id_target='modal-clear' %}
    </div>
</div>