alabaster==0.7.10
appnope==0.1.0
astroid==1.5.3
Babel==2.5.1
backports-abc==0.5
beautifulsoup4==4.5.1
bleach==2.1.1
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
decorator==4.1.2
Django==1.6.5
django-crispy-forms==1.6.1
django-extensions==1.6.5
django-filter==1.0.1
django-slicepaginator==0.0.2
django-widget-tweaks==1.4.1
djangorestframework==3.2.0
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
html5lib==1.0b10
idna==2.6
imagesize==0.7.1
ipykernel==4.6.1
ipyparallel==6.0.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.1
isort==4.2.15
jdcal==1.3
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.3.0
lazy-object-proxy==1.3.1
listorm==0.2.12
Markdown==2.6.7
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.7.4
nbconvert==5.3.1
nbformat==4.4.0
nose==1.3.7
notebook==5.2.0
pandocfilters==1.4.2
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pylint==1.7.4
pymssql==2.1.3
python-dateutil==2.6.0
pytz==2016.10
pyzmq==16.0.2
qtconsole==4.3.1
recordlib==0.0.8
requests==2.18.4
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.4
sphinxcontrib-websupport==1.0.1
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
typing==3.6.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.3
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.0
xlwt==1.1.2
