{% extends "home.html" %}
{% load static %}

{% block title %}{{ block.super }}|각종집계{% endblock title %}
{% block style %}
<style type="text/css">
	[class^=collect-list], li.collect-list.a {
		cursor: cell;
	}

    @page  {
   		margin: 10px;
    }
    div.print-each {
	    /*page:print-each;*/
	    display: block; 
	    page-break-before: right;
	}
	li.yesterday-item {
		background-color: #cccccc;
	}
	li.since-item {
		background-color: #aaaaaa
	}
	li.collect-list:hover {
		background-color: #C29F6D;
	} 

</style>
{% endblock style %}

{% block content %}
{% block header %}{% endblock header %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3">
			{% block side %}
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h5 class="panel-title">
						<span class="glyphicon glyphicon-scissors"></span>집계내역
					</h5>
				</div>
				<div class="panel-body">
					{% include 'collect/includes/collect-list.html' %}
				</div>
			</div>
			{% endblock side %}
		</div>
		<div class="col-xs-9">
			<div class="panel with-nav-tabs panel-success">
			    <div class="panel-heading">
			        <ul class="nav nav-tabs">
			        	{% if form %}
				        	{% if form.excludes %}
				            <li class="{% if form.kind.value.0 == 'INJ' %}active{% endif %}"><a href="{% url 'collect:update-plusminus' 'INJ' %}">주사</a></li>
				            <li class="{% if form.kind.value == 'NUT' %}active{% endif %}"><a href="{% url 'collect:update-plusminus' 'NUT' %}">영양수액</a></li>
				            <li class="{% if form.kind.value == 'LABEL' %}active{% endif %}"><a href="{% url 'collect:create' 'LABEL' %}">집계화면</a></li>
				        	{% else %}
				            <li class="{% if form.kinds.value.0 == 'LABEL' and not formset %}active{% endif %}"><a href="{% url 'collect:create' 'LABEL' %}">라벨</a></li>
				            <li class="{% if form.kinds.value.0 == 'INJ' and not formset %}active{% endif %}"><a href="{% url 'collect:create' 'INJ' %}">주사</a></li>
				            <li class="{% if form.kinds.value.0 == 'NUT' and not formset %}active{% endif %}"><a href="{% url 'collect:create' 'NUT' %}">영양수액</a></li>
				            <li class="{% if formset %}active{% endif %}"><a href="{% url 'collect:create-batch' %}">일괄집계</a></li>
				            <li class="{% if form.slugs %}active{% endif %}"><a href="{% url 'collect:merge' %}">집계합체</a></li>
				        	{% endif %}
				        {% else %}				        
				            <li class="active"><a class="tab-collect" href="#by-drug" data-toggle="tab" id="tab-drug">약품별</a></li>
				            <li class=""><a class="tab-collect" href="#by-ward-drug" data-toggle="tab" id="tab-ward-drug">병동별</a></li>
				            <li class=""><a class="tab-collect" href="#by-ward" data-toggle="tab" id="tab-ward">병동별(환자별)</a></li>
			        	{% endif %}
				            <li class="pull-right">
				                <a href="{% url 'collect:update-plusminus' 'INJ' %}"><span class="glyphicon glyphicon-plus-sign"></span><span class="glyphicon glyphicon-minus-sign"></span>집계 추가/제외 관리</a>
				            </li>
			        </ul>
			    </div>
			    <div class="panel-body">
			        <div class="tab-content">
			        	{% block main %}
			        	{% endblock main %}
			        </div>
			    </div>
			    <div class="panel-footer">
			    	<div class="tab-content">
			    		{% block list %}
			    		{% endblock list %}
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
{% block script %} 
	{% include "collect/includes/script.html" %}
	{% include "datepicker_js.html" %}
	{% include "tablesorter_js.html" %}
{% endblock script %}

{% endblock content %}	

