{% extends "collect/base.html" %}




{% block main %}
	
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">
			<span class="glyphicon glyphicon-tag">{% if form.kind.value == 'LABEL' %} 라벨{% elif form.kind.value == 'NUT' %} 영양수액{% endif %}집계</span>
		</h3> 
		</div>
	<div class="panel panel-body">
			<form id="collect-form" name="show" method="post" class="form-inline" action="{% url 'collect:create' %}">
				{% csrf_token %}
	
				<div class="col-xs-8">
					<div class="row">
						<div class="form-group">
							<div class="col-xs-12">
								<label>집계항목: {{ form.kind }}</label>
							</div>
							<div class="col-xs-12">
								<label>처방구분: {{ form.types }}</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-xs-12">
								<label>집계병동: {{ form.wards }}</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-xs-12">
								<label >처방일자: {{ form.start_date }}</label>~<label>{{ form.end_date }}</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-xs-12">
								<label>접수일시: {{ form.start_dt }}</label>~<label>{{ form.end_dt }}</label>
							</div>
						</div>
					</div>
				</div>
				{% if form.kind.value == 'NUT' %}
					
				<div class="col-xs-4">
					<div class="row">
						<div class="form-group">
							<div class="col-xs-12">
							<label>집계제외: {{ form.exclude_names }}</label>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			
				<hr>
				<div class="row" align="center">
					<div class="col-xs-10">
						<div class="btn btn-group">
						<button class="btn btn-success" id="btn-collect">집계<span class="glyphicon glyphicon-download-alt"></span></button>
						</div>
					</div>
				</div>
			</form>
	</div>
</div>
<script type="text/javascript">
$(function(){
	function refreshForm(){
		var form = $('#collect-form')
		form.attr('method', 'get')
		form.submit()
	}
	// 라벨 집계 생성 페이지 폼 정보 채워서 다시 로딩
	if (location.href == location.origin +"{% url 'collect:create' %}") {
		refreshForm()
	}

	$('#id_kind').change(function(e){
		refreshForm()
	})

	$('#btn-collect').click(function(e){
		var form = $('#collect-form')
		form.submit()
	})

	
})
</script>
{% endblock main %}



