{% extends "stock_invest/base.html" %}
{% load widget_tweaks %}

{% block invest_title %} <h4>재고조사표</h4> {% endblock invest_title %}

{% block invest_style %} 
<style type="text/css">
	table, td input {
		width: 100%;
	}

	table {
		border-collapse: collapse;
	}
	input[type=number] {
		text-align: right;
	}
	th {
		text-align: center;
	}
	tr:hover *{ background: #f3e8c0; }
	tr.disabled, tr.disabled input {
		background: #bbbbbb;
	}
</style>

{% endblock %}
{% block invest_form %}

<div class="container-fluid">
	
<form class="form-inline" method="post" action=".">
	{% csrf_token %}
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
				{{ form.date.label_tag }} {{ form.date|attr:"class:form-control input-sm" }}
			</div>
		</div>
		<div align="right" class="col-xs-6">
			<input type="submit" value="변경사항저장" class="btn btn-success">
		</div>
	</div>
	<hr>
	<div class="row">
		{{ formset.management_form }}
		<table class="container-fluid" id="tbl-invest">
			<thead>
				<tr>
					<th width="50">완료<input type="checkbox" id="complete-all"></th>
					<th>약품명</th>
					<th width="80">포장수량</th>
					<th width="80">낱개1</th>
					<th width="80">낱개2</th>
					<th width="80">반티</th>
					<th width="80">실사량</th>
					<th width="80">전산</th>
					<th>유효기한</th>
					<th>최종수정일</th>
					<th>완료일시</th>
				</tr>
			</thead>
			<tbody>
			{% for form in formset %}
				{{ form.id }}
				<tr>
					<td>{{ form.complete|attr:"class:complete"|attr:"tabindex:-1" }}</td>
					<td>{{ form.instance.drug.name_as }}</td>
					<td>
						<input type="number" class="temp-pkg" value="{{ form.instance.drug.pkg_amount }}" hidden>
						{{ form.pkg|attr:"min:0" }}
					</td>
					<td>{{ form.rest1|attr:"min:0" }}</td>
					<td>{{ form.rest2|attr:"min:0" }}</td>
					<td>{{ form.rest3|attr:"min:0" }}</td>
					<td style="text-align: right;">{{ form.instance.total }}</td>
					<td style="text-align: right;">{{ form.instance.doc_amount }}</td>
					<td>{{ form.expire|attr:"tabindex:-1" }}</td>
					<td>{{ form.instance.updated|date:"Y-m-d h:i:s" }}</td>
					<td>{{ form.instance.completed|date:"Y-m-d h:i:s" }}</td>
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	</div>
</form>
	<div class="row" align="right">
		<form method="post" action="{% url 'stock_invest:invest-system-opsync' %}" id="form-sync-opstock">
			{% csrf_token %}
			<input type="hidden" name="syncSlug" value="{{ formset.instance.slug }}">
			<button class="btn btn-success" id="btn-sync-opstock">전산재고부르기</button>
		</form>
	</div>
</div>
{% endblock invest_form %}

{% block invest_script %}
<script type="text/javascript">
$(function()
{
	// 완료항목 비활성화상태로 초기화 작업
	const initial_disabled_rows = $('.complete:checked').parent().parent()
	initial_disabled_rows.addClass('disabled')
	initial_disabled_rows.find('input[type!=checkbox]').attr('disabled', 'true')

	// 완료 체크박스 전체 선택 
	$('#complete-all').click(function(){
		if($('#complete-all').is(':checked'))
		{
			$('.complete').each(function(){
				$(this).prop('checked',true);
			});
		}
		else
		{
			$('.complete').each(function(){
				$(this).prop('checked',false);
			});
		}
	})

	// pkg 컨트롤 step 속성에 포장단위 동기화
	$('.temp-pkg').each(function(){
		$(this).next().attr('step', $(this).val())
	})

	$('#btn-sync-opstock').click(function(){
		$('#form-sync-opstock').submit()
	})
})

</script>

{% include "datepicker_js.html" %}
{% endblock invest_script %}


